html, body {
    overflow-x: hidden;
}
div, 
section, 
nav, 
ul, 
li, 
article, 
main, 
footer, 
aside {
    overflow: hidden;
}
* {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
header {
    display: flex;
    justify-content: end;
}
.container {
    display: flex;
    width: 95vw;
    height: auto;
}
header .container {
    justify-content: end;
    align-items: center;
}
.menu-header {
    display: flex;
    align-items: center;
    width: 100%;
}
.menu-header li {
    margin: 0 0 0 10px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
}
.menu-header .apps {
    align-content: center;
    border-radius: 50%
}
.apps img {
    padding: 10px 10px 8px 10px;
}
ul .login {
    background-color: #0b57d0;
    color: #f5f5f5;
    padding: 10px 14px;
    border-radius: 25px;
    font-size: 15px;
    margin: 10px ;
}
.images:hover {
    text-decoration: underline;
}
.email:hover {
    text-decoration: underline;
}
.apps:hover {
    background-color: #f0f0f0;
}
.login:hover {
    box-shadow: 1px 1px 4px #252525;
}
#image-banner .container {
    justify-content: center;
}
#image-banner .container img {
    width: 375px;
    height: 150px;
    margin: 0 15px;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    align-self: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    align-self: flex-end;
}
.circle i {
    margin:0 0 1px 1px;
    cursor: pointer;
}
#search-buttom .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.width-flex-1 {
    display: flex;
    flex:3;
}
.width-flex-1-1 {
    flex:1;
    display: flex;
    justify-content: flex-end;
}
.search {
    display: flex;
    width: 45%;
    height: 45px;
    border: 1px solid #dfe1e5;
    box-shadow: 0px 2px 8px rgba(60, 64, 67, 0.25);
    border-radius: 30px;
    margin: 30px 0;
}
.search:hover {
    box-shadow: 0px 1px 10px rgba(60, 64, 67, 0.25);
}
.icon-search {
    height: 45px;
    padding: 15px;
    cursor: pointer;
}
#text-search {
    width: 100%;
    height: auto;
    border: none;
    overflow: hidden;
    resize: none;
    margin-top: 12px;
    line-height: 22px;
}
.border-left {
    width: 1px;
    height: 30px;
    background-color: #dfe1e5;
    margin: auto;
}
.keyboard {
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 8px;
    cursor: pointer;
}
.mic, .camera {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    height: 45px;
    margin: 0 8px;
    cursor: pointer;
    
}
.mic img {
    width: 14px;
}
.camera img {
    width: 18px;
}
.buttons {
    padding: 5px;
}
.buttons input {
    background-color: #f8f9fa;
    font-size: 14px;
    line-height: 22px;
    padding: 7px;
    margin: 0 15px;
    border-radius:2px ;
    font-family: Arial, Helvetica, sans-serif;
    flex:2;
    border: 1px solid #f8f9fa;
}
.buttons input:focus{
    border: 1px solid #4285f4;
    outline: none;
}
.buttons input:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}
#white-area {
    height: 140px;
    background-color: #fff;
    width: 100%;
    flex-grow: 1;
}
footer {
    background-color: #f2f2f2;
}
footer .container {
    flex-direction: column;
    width: 100vw;
    
}
.container .brasil {
    padding: 10px;
    border-bottom: 1px solid #dadce0;
    flex-wrap: wrap;
}
.divisao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 15px;
}
.footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.info-footer {
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    cursor: pointer;
}
.info-footer:hover {
    text-decoration: underline;
}
@media (max-width:920px) {
    .search {
        width: 60%;
    }
}
@media (max-width:757px) {
    .search {
        width: 70%;
    }
    .divisao {
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:600px) {
    .search {
        width: 80%;
    }
}
@media (max-width:500px) {
    .search {
        width: 90%;
    }
    #image-banner .container img {
    width: 65%;
    }
}
@media (max-width:453px) {
    .width-flex-1-1 {
        flex: 2;
    }
    .buttons {
        text-align: center;
    }
    .buttons input {
        margin: 10px 0;
    }
    .circle {
        display: none;
    }
    #image-banner .container img {
        width: 100%;
    }
    .brasil {
        text-align: center;
    }
}